*{
    padding-left:5px;
    padding-right: 5px;
}
body{
    margin: 0;
    background-color: #141414;
    background: url("./cvbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom-left-radius: 140px;
    border-top-right-radius: 140px;
}
.container{
    width: 700px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
}
h2{
    margin: 0;
    color: blueviolet;
}
.left{
    width: 40%;
    text-align: center;
    background-color: purple;
    border-top-right-radius: 140px;
    border-bottom-left-radius: 140px;
    height: auto;
    border-style: groove;
}
.left *{
    color: white;
}
.right{
    width: 60%;
    text-align: center;
}
.pfp{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border: 6px groove #00a0ff;
    border-radius: 100%;
    margin-top: 50px;
    padding: 0;
}
.name{
    margin-top: 30px;
}
ul > li{
    list-style: none;
}
.car{
    background-color: rgb(189, 31, 189);
    color: white;
    padding:15px;
    margin:15px;
    box-shadow: 10px 10px rgb(160, 92, 224);
}
.info{
    background-color: rgb(31, 189, 115);
    color: white;
    padding:15px;
    margin:15px;
    box-shadow: 10px 10px rgb(96, 145, 19);
}
.foot{
    background-color: rgb(218, 87, 26);
    color: white;
    padding:15px;
    margin:15px;
    box-shadow: 10px 10px rgb(243, 26, 26);
}
